# ==========================================
# Core web framework
# ==========================================
Django>=5.2,<5.3
python-dotenv==1.2.2

# ==========================================
# Database Drivers
# ==========================================
psycopg==3.3.2
psycopg-binary==3.3.2
PyMySQL==1.1.2

# ==========================================
# Frontend & Templates
# ==========================================
django-htmx==1.27.0
django-tailwind==4.4.2
django-browser-reload==1.21.0

# ==========================================
# Server & Optimizations
# ==========================================
whitenoise==6.12.0

# ==========================================
# Media, Documents & Utils
# ==========================================
pillow==12.1.1
reportlab==4.2.5
docxtpl==0.20.2
python-dateutil==2.9.0.post0
